<div
  class="yotpo yotpo-pictures-widget"
  data-gallery-id="6675bd7b01a5a20030f820c7">
</div>
  
{% schema %}
  {
    "name": "Yotpo UGC",
    "settings": [
    ],
    "presets": [
      {
      "name": "Yotpo UGC"
      }
    ]
  }
{% endschema %}
  